[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-latex-live-preview"]
	path = bundle/vim-latex-live-preview
	url = https://github.com/xuhdev/vim-latex-live-preview.git
